<main>
  <div class="container">
    <div class="row text-center">
      <div class="col align-self-center">
        <h1>404</h1>
        <h2>UH OH! You're lost.</h2>
        <p>
          The page you are looking for does not exist. How you got here is a
          mystery.
        </p>

        <div class="submit">
          <button
            routerLink="/companies"
            class="login-btn"
            type="submit"
            name="login"
          >
            <p class="login-content">Back to companies</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
