.parent-image {
  position: relative;
  width: 100%;
  max-width: 569px;
  margin: 1rem auto;
}

.logo {
  position: absolute;
  width: 60%;
  max-width: 274px;
  height: 177px;
  background-image: url("../../assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.building {
  position: absolute;
  width: 100%;
  max-width: 1073px;
  height: 491px;
  background-image: url("../../assets/vector.png");
  top: 12%;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  opacity: 0.7;
}
.bus {
  position: absolute;
  width: 70%;
  max-width: 698px;
  height: 27%;
  max-height: 220px;
  background-image: url("../../assets/Frame.png");
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 17%;
  right: -1%;
  z-index: 1;
}
.path {
  background-image: url("../../assets/_Path_.png");
  position: absolute;
  right: 1px;
  bottom: 10%;
  width: 64%;
  height: 6%;
  max-width: 572px;
  bottom: 13%;
  background-size: contain;
  background-repeat: no-repeat;
}

.back-logo {
  margin: 0px 15px;
}
.bth {
  margin-top: 2rem;
  margin-bottom: 8rem;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 992px) {
    justify-content: center;
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  @media (min-width: 992px) {
    margin-left: 4rem;
  }
}
.icon-pos {
  position: relative;
}
.pass-icon {
  position: absolute;
  top: 50%;
  right: 3%;
}
.pass {
  cursor: pointer;
}
.forgot {
  color: #ffa031;
  cursor: pointer;
}

.submit {
  margin-top: 3rem;
}
.login-btn {
  border-radius: 10px;
  border: none;
  width: 100%;
  background: #00ceda;
  box-shadow: 0px 15px 60px 0px rgba(0, 94, 100, 0.23);
}
.login-content {
  color: #fff;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 1000;
  line-height: 27px;
  text-transform: uppercase;
  margin-top: 5px;
}
.same-line {
  display: inline !important;
}
.remember {
  margin-right: 9rem;
}
